
body {
  background: #8a8d8e; 
  margin: 0;
  width:1500px;
  overflow: hidden;
  cursor:url(../media/cursor.cur),auto;
}

#main-cont {
  border: 2px dotted #9d5d5d;
  overflow: hidden;
  margin: 1em;
  background: #cbe9f4; 
}

/*clouds*/

.clouds{
  display:flex;
  height: 20px;
  margin-left:-900px;
}

.cloudset1{
  position: relative;
  border-radius: 100px;
  background-color: white;
  margin: 2em;
  box-shadow: 
    10px 20px 0px rgba(0, 0, 0, 0.1),
    20px 40px 0px rgba(0, 0, 0, 0.1);
}
.cloudset2{
  position: relative;
  border-radius: 100px;
  margin-top:-50px;
  background-color: white;
  box-shadow: 
  10px 20px 0px rgba(0, 0, 0, 0.1),
  20px 40px 0px rgba(0, 0, 0, 0.1);
}

.cloud1 {
  width: 200px;
  height: 100px;
  animation: cloudMove 85s infinite linear;
}

.cloud2 {
  width: 150px;
  height: 80px;
  animation: cloudMove 90s infinite linear;
}

.cloud3 {
  width: 190px;
  height: 90px;
  animation: cloudMove 62s infinite linear;
}

.cloud4 {
  width: 180px;
  height: 85px;
  animation: cloudMove 45s infinite linear;
}

.cloud5 {
  width: 177px;
  height: 92px;
  animation: cloudMove 120s infinite linear;
}

.cloud6 {
  width: 170px;
  height: 92px;
  animation: cloudMove 30s infinite linear;
}

.cloud7 {
  width: 160px;
  height: 92px;
  animation: cloudMove 35s infinite linear;
}

.cloud8 {
  width: 175px;
  height: 92px;
  animation: cloudMove 42s infinite linear;
}

.cloud::before,
.cloud::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  background-color: white;
}

.cloud::before {
  width: 80px;
  height: 80px;
  top: -30px;
  left: 10px;
}

.cloud::after {
  width: 100px;
  height: 100px;
  top: -50px;
  right: 10px;
}

@keyframes cloudMove {
  from {
    top: 20px;
    left: -300px;
  }
  to {
    top:50px;
    left: 1800px;
  }
}

/*bushes*/

#bushes{
  display: flex;
}

.base {

 z-index: 3;
 width: 800px;
 height: 150px;
 background-color: white;
 border-radius: 20px;
 margin-right:-90px; 
}

.bush-group {
 width: 100%;
 height: 100%;
 display: flex;
}

.bush {
 z-index: 3;
 width: 90px;
 height: 40px;
 margin-top: -30px;
 background-color: white;
 border-radius: 50px 50px 0 0;
}

/*trees*/

.treeset1{
  z-index: 1;
  display:flex;
  justify-content: space-between;
  gap:50px;
}

.roundtrees {

 z-index: 1;
  width: 100%;
  margin-top:600px;
  display:flex;

}

.roundtree1 {
  z-index: 1;
  bottom: 10px;
  width:15px;
  height: 100px;
  margin-left:80px;
}

.roundtree1 .root{
  background-color: #9d5d5d;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.roundtree1 .stem{
  background-color: #4da2bb ;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-top: -150px;
  margin-left: -32px;
  position: relative;
}

.roundtree1 .stem:after{
  content: "";
  position: absolute;
  background-color: #66bbd8;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  margin-left: 9px;
}

.roundtree2 {
  z-index: 1;
  bottom: 10px;
  width:17px;
  height: 100px;
  margin-left:200px;
}

.roundtree2 .root{
  background-color: #9d5d5d;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.roundtree2 .stem{
  background-color: #4da2bb ;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-top: -180px;
  margin-left: -40px;
  position: relative;
}

.roundtree2 .stem:after{
  content: "";
  position: absolute;
  background-color: #66bbd8;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  margin-left: 9px;
}

.treeset2{
 margin-top: -180px;
 z-index: 1;
}

.flowertrees{
  display: flex;
  gap:50px;
  justify-content: space-around;
  margin-right:120px
}

.flowertree{
    width: 100%;
    z-index: 2;
}

.flowertree1 {
  z-index: 2;
  bottom: 10px;
  width:20px;
  height: 170px;
  margin-left:30px;
}

.flowertree1 .root{
  background-color: #9d5d5d;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.flowertree1 .stem1 {
  background-color: #4da2bb;
  width: 150px;
  height: 75px;
  margin-top: -180px;
  margin-left: -65px;
  border-radius: 50px;
}

.flowertree1 .stem2 {
  background-color: #4da2bb;
  width: 120px;
  height: 85px;
  margin-top: -120px;
  margin-left: -50px;
  border-radius: 50px;
}

.flowertree1 .stem3 {
  background-color: #4da2bb;
  top: -60px;
  width: 80px;
  height: 75px;
  margin-top: -120px;
  margin-left: -30px;
  border-radius: 50px;
}

.flowertree2 {
  z-index: 2;
  bottom: 10px;
  width:20px;
  height: 170px;
  margin-left:180px;
}

.flowertree2 .root{
  background-color: #9d5d5d;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.flowertree2 .stem1 {
  background-color: #4da2bb;
  width: 150px;
  height: 75px;
  margin-top: -180px;
  margin-left: -65px;
  border-radius: 50px;
}

.flowertree2 .stem2 {
  background-color: #4da2bb;
  width: 120px;
  height: 85px;
  margin-top: -120px;
  margin-left: -50px;
  border-radius: 50px;
}

.flowertree2 .stem3 {
  background-color: #4da2bb;
  top: -60px;
  width: 80px;
  height: 75px;
  margin-top: -120px;
  margin-left: -30px;
  border-radius: 50px;
}


/*rabbit*/ 
/*rabbit image source : https://www.freepik.com/free-vector/expression-emotion-concept-set-rabbit-character-diffetent-animal-emotions_18779011.htm#query=bunny%20rabbitexpression-emotion-concept-set-rabbit-character-diffetent-animal-emotions%20zip&position=0&from_view=search&track=ais*/ 
#rabbits{
    max-width: 90%;
}
.rabbit{
  z-index:3;
  position: absolute;
  height:140px;
  width: 140px;
  background-image: url("../media/bun3.png");
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  animation: rabbitMove 1.5s ease-in-out;
} 


@keyframes rabbitMove {
  0% {
    transform: translate(0, 0);
  }
  /* 25% {
    transform: translate(0, -50%);
  } */
  50% {
    transform: translate(0, -200%);
  }
  /* 75% {
    transform: translate(0, -50%);
  } */
  100% {
    transform: translate(0, 0);
  }
}



/*message for start game andn end game*/ 

.message{
  z-index: 4;
  position : absolute;
  background-color: whitesmoke;
  border: 2px dotted #9d5d5d;
  padding: 2em;
  margin-left:5em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  animation: slide-down 1s ease forwards;
}

@keyframes slide-down {
  0% {
    top:-200px;
    left:0;
  }
  100% {
   top:50px;
   left:0;
  }
}

.btn{
  background-color: #004258;
  padding:1em;
  color:white;
}

.btn:hover{
  background-color: #66bbd8;
  padding:1em;
  color:white;
}



#counter {
  position: absolute;
  z-index: 4;
  background-color: #004258;
  border: 2px dotted #9d5d5d;
  margin-left: 10px;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color:white;
}



@media screen and (max-width: 1050px) {


  #main-cont {
    align-items: center;
    width: 65%; /* Set a percentage width */
    height: 100%; /* Set a percentage height */
    
  }

}

@media screen and (max-width: 750px) {


  #main-cont {
    align-items: center;
    width: 45%; /* Set a percentage width */
    height: 90%; /* Set a percentage height */
    
  }

}

/* Media query for screens with a maximum width of 500px */
@media screen and (max-width: 500px) {


  #main-cont {
    
    margin: 0;
    width: 66vh; /* Set a percentage width */
    height: 100%; /* Set a percentage height */
    
  }

  .message{
    width: 30vh;
  }
}





